<h1>Home Page</h1>

<table>
  <% @cohorts.each do |cohort| %>
  <tbody>
    <thead>
      <tr>
        <th>Class code</th>
        <th colspan="3"></th>
      </tr>
      <tr>
        <td><%= cohort.class_code %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <th>Date</th>
        <th>Event Type</th>
        <th>Notes</th>
        <th>Owner</th>
        <th colspan="3"></th>
      </tr>
      <tbody>
        <% cohort.events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.event_type %></td>
          <td><%= event.notes %></td>
          <td><%= event.owner %></td>
        </tr>
        <% end %>
      </tbody>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Cohort', new_cohort_path %>